<div class="comment">
  <nz-avatar nzSize="default" nzIcon="user"></nz-avatar>
  <div class="content">
    <div class="header">
      <span class="username">张三</span>
      <app-rate class="rate"></app-rate>
    </div>
    <p>We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure),
      to help people create their product prototypes beautifully and efficiently. </p>
    <div class="action">
      <button nz-button nzType="text"><i nz-icon nzType="like"></i> 0</button>
      <button nz-button nzType="text"><i nz-icon nzType="dislike"></i> 0 </button>
    </div>
  </div>

</div>
