<nz-list [nzDataSource]="commentList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="item.username" [nzDatetime]="item.datetime">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
      <nz-comment-content>
        <p>{{ item.content }}</p>
        <nz-image-group *ngFor="let pic of item.picture.split('】【').slice(0, item.picture.split('】【').length - 1)">
          <img nz-image width="80px" [src]="this.sanitizer.bypassSecurityTrustResourceUrl('http://localhost:8800/'+pic)"  alt=""/>
        </nz-image-group>
      </nz-comment-content>
    </nz-comment>
  </ng-template>
</nz-list>
<nz-pagination [nzPageSize]="1"  [(nzPageIndex)]="pageIndex" [nzTotal]="totalEle" (nzPageIndexChange)="changePageIndex()"></nz-pagination>
