<div>
    <h2>{{showCourse.name}}</h2>
    <nz-tag class="tag" nzColor="lime">简单</nz-tag>
    <a nz-button nzType="link">授课讲师：{{showCourse.teacher}}</a>
    <div>线上授课 12课时</div>
</div>
<app-rate value="{{showCourse.rate}}"></app-rate>
<h3>简介</h3>
<p>
    {{showCourse.description}}
</p>
<h3>课程地址</h3>
<i nz-icon nzType="link" nzTheme="outline"></i>
<a nz-button nzType="link"
   [href]=showCourse.url>{{showCourse.url}}</a>
<h3>目录</h3>
<img src="/assets/menu.png" alt="" height="600px">
<h3>授课平台/机构</h3>
<img src="./assets/imooc.png" alt="">
