
[course-card] {
  border-radius: 4px;
}

[course-img] {
  border-radius: 4px 4px 0 0;
}

[card-content] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
