<div carousel-header>
  <div>
    <ul nz-menu [nzMode]="'vertical'" nzTheme="dark" *ngFor="let item of tipAndSubList">
      <li nz-submenu nzTitle="{{item.tip.name}}">
        <ul *ngFor="let sub of item.subTipsList">
          <li nz-menu-item (click)="redirectCourseBySUbId(item.tip.id, sub.id)">{{sub.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <nz-carousel [nzEffect]="'fade'" [nzAutoPlay]="true">
    <div nz-carousel-content *ngFor="let banner of banners">
      <img style="border-radius: 0 10px 10px 0;" [src]="this.sanitizer.bypassSecurityTrustResourceUrl('http://localhost:8800/'+banner.path)" width="100%" height="100%">
    </div>
  </nz-carousel>
</div>


